<head>
    <meta charset="UTF-8">
    <!-- Configura la vista en dispositivos móviles: adapta el ancho al ancho del dispositivo y establece el nivel de escala inicial en 1.0. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="video">
        <!-- Elemento de video con atributos de ancho y alto fijados, y controles de reproducción incorporados. -->
        <video width="640" height="360" controls >
            
        </video>
    </div>
</body>


