
/* Estilos para el contendor de la lista */
.list-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 100px;
    z-index: 0;
}

/* Estilos para el título "h2" */
h2 {
    margin-left: 100px;
    color: #565656;
    text-align: left;
    font: 700 40px "Montserrat", sans-serif;   
}

/* Estilos para la lista de días "city-list" */
.city-list {
    margin-left: 140px;
    margin-top: 25px;
    color: #565656;
    text-align: left;
    font: 500 30px "Montserrat", sans-serif;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.6;
}

/* Estilos para los botones en la lista de días */
.city-list button {
    background: none; 
    border: none; 
    display: flex;
    align-items: center;
    cursor: pointer; 
    margin-bottom: 10px; 
}

/* Estilos para el ícono de día "day-symbol" en la lista de días */
.city-list .day-symbol {
    width: 25px; /* Ancho fijo para el icono */
    margin-left: 1px;
    margin-right: 55px; 
    font: 700 40px "Montserrat";
}

/* Estilos para el ícono de ciudad "city-symbol" en la lista de días */
.city-list .city-symbol {
    margin-left: 10px;
    margin-right: 10px;
}

/*Estilos para el botón agregar */
.boton-agregar {
    max-width: 100px;
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 50px;
    font: 400 17px "Montserrat", sans-serif;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background-color: #565656;
    color: white;

}

/* Estilos formulario */
form[name="newItem"].custom-form {
    max-width: 1500px;
    margin-left: 140px;
    margin-right: 140px;
    padding: 40px;
    background-color: #565656;
    color: white;
    border-radius: 10px;   
}

/* Estilos para el boton de enviar */
.boton-enviar {
    max-width: 100px;
    font: 400 17px "Montserrat", sans-serif;
    margin-top: 20px;
    font: 400 17px "Montserrat", sans-serif;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    color:  #565656;

}