<div *ngIf="day !== null">
  <div class="contenedor">
    <div class="izquierda">    
      <p>{{ day.description }}</p>
      <p><strong>Alojamiento:</strong> {{ day.accommodation }}</p>
      <p><strong>Actividades de interes:</strong></p>
      <ul>
        <li *ngFor="let activity of day.activities">{{ activity }}</li>
      </ul>
      <!--<button (click)="toggleDetail()">Cerrar</button>-->
    </div>
    <div class="derecha">
      <div class="contendor-video">
        <app-player [dayVideo]="day"></app-player>
      </div>
    </div>
  </div>
</div>
