    /* Estilos para el filtro*/
.filter-container {
    display: flex; /* Asegura que los elementos estén en línea */
    justify-content: flex-end; /* Alinea el contenido hacia la parte superior y la derecha */ 
    margin-top: 10px; 
    margin-right: 80px; 
    margin-top: 30px;
    font: 600 20px "Montserrat";
}

    /* Estilos para imágenes dentro de elementos con la clase .filter-container */
.filter-container img {
    margin-right: 10px; /* Espacio a la derecha de la imagen */
    width: 25px; /* Ancho de la imagen */
    height: 27px; /* Altura de la imagen */
}

    /* Estilos para el botón de filtro */
.filter-button {
    display: flex; /* Muestra el botón como elemento en línea */
    align-items: center; /* Alinea el contenido verticalmente al centro del botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse por encima para indicar interactividad */
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    z-index: 3;
}

    /* Estilos para el ícono de flecha en el botón de filtro */
.arrow-icon {
    font-size: 20px; /* Tamaño del ícono de flecha */
    margin-left: 10px; /* Espacio a la izquierda del ícono */
    transition: transform 0.3s; /* Agrega una transición suave para la rotación de la flecha */
}

    /* Estilos para la rotación de la flecha en el botón de filtro cuando está abierto */
.arrow-icon.rotate-right {
    transform: rotate(-90deg); /* Rota la flecha -90 grados hacia la derecha */
}

    /* Estilos para la rotación de la flecha en el botón de filtro cuando está cerrado */
.arrow-icon.rotate-down {
    transform: rotate(0deg); /* Rota la flecha 0 grados */
}

    /* Estilos para el fondo oscuro */
.background-overlay {
    position: absolute; 
    top: 130px; /* Comienza desde la parte superior de la página */
    right: 500px; /* Comienza desde la parte derecha de la página */
    width: 100%; /* Ancho al 100% de la ventana */
    height: 120%; /* Altura al 100% de la ventana */
    background: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con opacidad del 50% */
    z-index: 1; /* Capa z en 1 para estar detrás del menú emergente */
}

    /* Estilos para el menú emergente */
.dropdown-content {
    background: #ffffff; /* Fondo blanco para el menú */
    width: 500px; /* Ancho fijo del menú */
    height: 120%; /* Altura fija del menú */
    position: absolute; /* Posición fija para mantenerlo en su lugar */
    top: 130px; /* Alinea el menú en la parte superior de la página */
    right: 0; /* Alinea el menú en el lado derecho de la página */
    z-index: 2; /* Capa z en 2 para estar por encima del fondo oscuro */
    box-sizing: border-box; /* La caja del menú incluye bordes y rellenos en el tamaño */
}

    /* Estilos para el contenido del menú emergente */
.fixed-size-dropdown {
    margin-left: 50px; 
    margin-right: 50px;
    text-align: left; 
}

    /* Estilos para la entrada de texto en el menú emergente */
.search-container input[type="text"] {
    margin-top: 25%;
    width: 100%; 
    height: 33px;
    font: 300 14px "Montserrat", sans-serif;
    text-align: left;
    padding-left: 20px;
}

    /* Estilo para el texto que se escribe en el buscador */
.search-container input[type="text"]:not(:placeholder-shown){
    font-weight: 600; 
}

    /* Estilos para el texto "Filtrar por días" */
.filter-text {
    margin-top: 50px;
    font: 700 15px "Montserrat", sans-serif;
}

    /* Estilos para la sección "Filtrar por días" */
.filter-by-days {
    font: 300 14px "Montserrat", sans-serif;
    flex-direction: column;
    display: flex;
}

    /* Estilos para las etiquetas de los días */
.filter-by-days label {
    margin-bottom: 15px; /* Aumenta el espacio entre los días */
}

    /* Estilos para los cuadros de selección de días */
.filter-by-days input[type="checkbox"] {
    width: 18px; /* Ancho del cuadro de checkbox */
    height: 18px; /* Altura del cuadro de checkbox */
    vertical-align: middle; /* Alinea verticalmente el checkbox con el texto */
}

    /* Estilos para la sección "Filtrar por ciudad" */
.filter-by-cities {
    font: 300 14px "Montserrat", sans-serif;
    flex-direction: column;
    display: flex;
    
}

    /* Estilos para las etiquetas de las ciudades */
.filter-by-cities label {
    margin-bottom: 15px; /* Aumenta el espacio entre los días */
    text-transform: capitalize;
}

    /* Estilos para los cuadros de selección de ciudades en el menú emergente */
.filter-by-cities input[type="checkbox"] {
    width: 18px; /* Ancho del cuadro de checkbox */
    height: 18px; /* Altura del cuadro de checkbox */
    vertical-align: middle; /* Alinea verticalmente el checkbox con el texto */
}

    /* Estilos para el botón "Aplicar filtros" en el menú emergente */
.apply-button {
    width: 204px;
    height: 30px;
    margin-left: 25%;
    margin-top: 10%;
    background: #cc3131;
    text-align: center;
    color: #ffffff;
    font: 500 15px 'Montserrat', sans-serif;
    position: relative;
    cursor: pointer; /* Muestra un cursor de selección al pasar el mouse por encima */
    border: none; /* Elimina el borde del botón */
}

.reset-button {
    width: 204px;
    height: 30px;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: auto;
    background: #cc3131;
    text-align: center;
    color: #ffffff;
    font: 500 15px 'Montserrat', sans-serif;
    position: relative;
    cursor: pointer; /* Muestra un cursor de selección al pasar el mouse por encima */
    border: none; /* Elimina el borde del botón */
}



.list-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 30px;
    z-index: 0;
}
    /* Estilos para el título "h2" */
h2 {
    margin-top: 30px;
    margin-left: 100px;
    color: #565656;
    text-align: left;
    font: 700 40px "Montserrat", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

    /* Estilos para la lista de días "day-list" */
.day-list {
    margin-left: 140px;
    margin-top: 25px;
    color: #565656;
    text-align: left;
    font: 500 30px "Montserrat", sans-serif;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.6;
}

    /* Estilos para los botones en la lista de días */
.day-list button {
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    display: flex;
    align-items: center;
    cursor: pointer; /* Muestra un cursor de selección al pasar el mouse por encima */
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

    /* Estilos para el ícono de día "day-symbol" en la lista de días */
.day-list .day-symbol {
    width: 25px; /* Ancho fijo para el icono */
    margin-left: 1px;
    margin-right: 55px; 
    font: 700 40px "Montserrat";
}

    /* Estilos para el ícono de ciudad "city-symbol" en la lista de días */
.day-list .city-symbol {
    margin-left: 10px;
    margin-right: 10px;
}


