<div class="filter-container">
  <!-- Botón que activa el menú desplegable -->
  <button (click)="toggleDropdown()" class="filter-button">
    <!-- Icono de filtro -->
    <img src="assets/Images/IconoFiltro.png" alt="Icon Filter">
    Filtros
    <!-- Icono de flecha que rota según el estado del menú desplegable -->
    <span class="arrow-icon" [class.rotate-right]="dropdownOpen" [class.rotate-down]="!dropdownOpen">&#9660;</span>
  </button>
</div>
<!-- Capa de fondo oscuro que se muestra cuando el menú está abierto y cierra el menú al hacer clic en ella -->
<div class="background-overlay" [hidden]="!dropdownOpen" (click)="closeDropdown()"></div>
  
<!-- Contenedor del menú emergente -->
<div class="dropdown-content" [hidden]="!dropdownOpen">
 <!-- Contenido de la ventana desplegable con tamaño fijo -->
  <div class="fixed-size-dropdown">
    <!-- Elementos de filtro y búsqueda -->
    <div class="search-container">
      <span class="search-icon"></span> 
      <input type="text" [(ngModel)]="filterValue" id="filterValue" placeholder="Indique aquí el día o la ciudad que quiera buscar">
    <!--<button (click)="applyFilter()" class="apply-button">Aplicar filtros</button>-->
    </div>
    <div class="filter-by-days">
      <p class="filter-text">Filtrar por días</p>
      <div class="day-checkboxes"></div>
        <label *ngFor="let day of days">
          <input type="checkbox" [checked]="isDaySelected(day.dayNumber)" (change)="toggleDaySelection(day.dayNumber)"> Día {{ day.dayNumber }} 
        </label>
    </div>
    <div class="filter-by-cities">
      <p class="filter-text">Filtrar por ciudad</p>
      <div class="city-checkboxes"></div>
        <label *ngFor="let day of days">
          <input type="checkbox" [checked]="isCitySelected(day.cityName)" (change)="toggleCitySelection(day.cityName)"> {{ day.cityName}}
        </label>
    </div>
  </div>
</div>




<h2>Itinerario del viaje</h2>
<div class="day-list">
  <div *ngFor="let day of days">
    <button (click)="showDetails(day)">
      <span class="day-symbol">{{ selectedDay === day ? '-' : '+' }}</span>Día {{ day.dayNumber }}
      <span class="city-symbol">-</span>{{ day.cityName | uppercase }}
    </button>
    <div *ngIf="selectedDay === day" class="details">
      <app-detail *ngIf="selectedDay" [day]="selectedDay"></app-detail>
    </div>
  </div>
</div>
  











  <!--<label for="filterValue">Buscar:</label>
  <input type="text" [(ngModel)]="filterValue" id="filterValue" placeholder="">
  <button (click)="applyFilter()">Aplicar</button>-->