<div class="filter-container">
  <button (click)="toggleDropdown()">
    <img src="assets/Images/IconoFiltro.png" alt="Icon Filter">
    Filtros
    <span class="arrow-icon" [class.rotate-right]="dropdownOpen" [class.rotate-down]="!dropdownOpen">&#9660;</span>
  </button>
  <select [(ngModel)]="selectedFilter" id="filterType" [hidden]="!dropdownOpen" title="Seleccionar filtro">
    <option value="day-list">Día</option>
    <option value="cityName">Ciudad</option>
  </select>


  <!--<label for="filterValue">Buscar:</label>
  <input type="text" [(ngModel)]="filterValue" id="filterValue" placeholder="">
  <button (click)="applyFilter()">Aplicar</button>-->
</div>

<h2>Itinerario del viaje</h2>
<div class="day-list">
  <div *ngFor="let day of days">
    <button (click)="showDetails(day)">
      <span class="day-symbol">{{ selectedDay === day ? '-' : '+' }}</span>Día {{ day.dayNumber }}
      <span class="city-symbol">-</span>{{ day.cityName }}
    </button>
    <div *ngIf="selectedDay === day" class="details">
      <app-detail *ngIf="selectedDay" [day]="selectedDay"></app-detail>
    </div>
  </div>
</div>
  
