/* Estilos para el filtro*/
.filter-container {
    display: flex; /* Asegura que los elementos estén en línea */
    justify-content: flex-end; /* Alinea el contenido hacia la parte superior y la derecha */ 
    margin-top: 10px; 
    margin-right: 80px; 
    margin-top: 30px;
    font: 600 20px "Montserrat";
  }
.filter-container img {
    margin-right: 10px;
    width: 25px;
    height: 27PX;
}
.filter-button {
    display: flex; 
    align-items: center; 
    cursor: pointer; /* Muestra un cursor de selección al pasar el mouse por encima */
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
}
.arrow-icon {
    font-size: 20px; /* Tamaño del ícono de flecha */
    margin-left: 10px; /* Espacio a la izquierda del ícono */
    transition: transform 0.3s; /* Agrega una transición suave para la rotación de la flecha */
}
.arrow-icon.rotate-right {
    transform: rotate(-90deg); /* Rota la flecha -90 grados hacia la derecha */
}
.arrow-icon.rotate-down {
    transform: rotate(0deg); /* Rota la flecha 0 grados*/
}

/* Estilos para el fondo oscuro */
.background-overlay {
    position: fixed; 
    top: 130px; /* Comienza desde la parte superior de la página */
    right: 500px; /* Comienza desde la parte derecha de la página */
    width: 100%; /* Ancho al 100% de la ventana */
    height: 100%; /* Altura al 100% de la ventana */
    background: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con opacidad del 50% */
    z-index: 1; /* Capa z en 1 para estar detrás del menú emergente */
}
/* Estilos para el menú emergente */
.dropdown-content {
    background: #ffffff; /* Fondo blanco para el menú */
    width: 500px; /* Ancho fijo del menú */
    height: 100%; /* Altura fija del menú */
    position: fixed; /* Posición fija para mantenerlo en su lugar */
    top: 300px; /* Alinea el menú en la parte superior de la página */
    right: 0; /* Alinea el menú en el lado derecho de la página */
    z-index: 2; /* Capa z en 2 para estar por encima del fondo oscuro */
    box-sizing: border-box; /* La caja del menú incluye bordes y rellenos en el tamaño */
  }
/* Estilos para el contenido del menú emergente */
.fixed-size-dropdown {
    margin-left: 50px; /* Espacio interno al contenido del menú */
    margin-right: 50px;
    text-align: left; /* Alineación de texto a la izquierda */
}
.fixed-size-dropdown input[type="text"] {
    width: 100%; /* Establece el ancho al 100% para que ocupe todo el ancho del contenedor */
    height: 33px;
    font-size: 10px; 
    text-align: right;
    padding-right: 100px;
  }
.filter-text {
    margin-top: 30px;
    font: 700 15px "Montserrat", sans-serif;
}
.filter-by-days {
    font: 300 14px "Montserrat", sans-serif;
    flex-direction: column;
    display: flex;
}
.filter-by-days label {
    margin-bottom: 15px; /* Aumenta el espacio entre los días */
    
}
.filter-by-days input[type="checkbox"] {
    width: 18px; /* Ancho del cuadro de checkbox */
    height: 18px; /* Altura del cuadro de checkbox */
    vertical-align: middle; /* Alinea verticalmente el checkbox con el texto */
}
.filter-by-cities {
    font: 300 14px "Montserrat", sans-serif;
    flex-direction: column;
    display: flex;
    
}
.filter-by-cities label {
    margin-bottom: 15px; /* Aumenta el espacio entre los días */
    text-transform: capitalize;
}
.filter-by-cities input[type="checkbox"] {
    width: 18px; /* Ancho del cuadro de checkbox */
    height: 18px; /* Altura del cuadro de checkbox */
    vertical-align: middle; /* Alinea verticalmente el checkbox con el texto */
}






h2 {
    margin-top: 30px;
    margin-left: 100px;
    color: #565656;
    text-align: left;
    font: 700 40px "Montserrat", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.day-list {
    margin-left: 140px;
    margin-top: 25px;
    color: #565656;
    text-align: left;
    font: 500 30px "Montserrat", sans-serif;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.6;
}

.day-list button {
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    display: flex;
    align-items: center;
    cursor: pointer; /* Muestra un cursor de selección al pasar el mouse por encima */
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
  }
.day-list .day-symbol {
    width: 25px; /* Ancho fijo para el icono */
    margin-left: 1px;
    margin-right: 55px; 
    font: 700 40px "Montserrat";
  }

.day-list .city-symbol {
    margin-left: 0px;
    margin-right: 10px;
}

